<app-loader></app-loader>
<div class="min-h-screen flex flex-col md:flex-row">
<!-- Branding -->
<div class="w-full md:w-1/3 bg-gradient-to-tr from-blue-800 to-green-700 flex justify-center items-center py-8 md:py-0 md:min-h-screen h-[220px]">
  <div class="flex flex-col justify-center items-center text-center px-6">
    <img
      src="https://i.imgur.com/HX0ra0p.png"
      alt="SimuVerse Lab Logo"
      class="w-[260px] md:w-[420px] max-w-full object-contain mb-2"
    />
    <p class="text-white mt-2 text-lg md:text-xl">Laboratorio de Realidad Virtual</p>
  </div>
</div>


  <!-- Login -->
  <div class="w-full md:w-2/3 bg-white flex flex-col justify-center items-center px-6 py-12 md:py-0 min-h-[calc(100vh-180px)] md:min-h-0">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="bg-white w-full max-w-xl px-10 py-8 shadow-2xl rounded-2xl"
    >
      <h1 class="text-gray-800 font-bold text-4xl mb-2">¡Hola otra vez!</h1>
      <p class="text-base font-normal text-gray-600 mb-8">Bienvenido/a</p>

      <!-- Input de usuario -->
      <div
        class="flex items-center border-2 py-3 px-4 rounded-2xl mb-3 transition-all duration-300"
        [class.border-red-500]="getInputClasses('identificadorUsuario')"
      >
        <i class="fas fa-user text-gray-400 mr-3"></i>
        <input
          formControlName="identificadorUsuario"
          class="pl-2 outline-none border-none w-full text-base"
          type="text"
          placeholder="Correo Electrónico"
        />
      </div>

      <!-- Input de contraseña -->
      <div
        class="flex items-center border-2 py-3 px-4 rounded-2xl mb-3 transition-all duration-300"
        [class.border-red-500]="getInputClasses('contrasena')"
      >
        <i class="fas fa-lock text-gray-400 mr-3"></i>
        <input
          formControlName="contrasena"
          class="pl-2 outline-none border-none w-full text-base"
          type="password"
          placeholder="Contraseña"
        />
      </div>

      <!-- Mensaje de error -->
      <div *ngIf="errorMensaje" class="text-red-500 text-sm mb-4 px-1">
        {{ errorMensaje }}
      </div>

      <!-- Botón -->
      <button
        type="submit"
        class="cursor-pointer w-full bg-indigo-600 mt-2 py-3 text-base rounded-2xl text-white font-semibold hover:bg-indigo-700 transition"
      >
        Iniciar Sesión
      </button>

      <!-- Link de olvidó contraseña -->
      <div class="text-center mt-4">
        <span class="text-sm hover:text-blue-500 cursor-pointer">¿Olvidaste tu contraseña?</span>
      </div>
    </form>
  </div>
</div>
